<h2>
    My Desktop
</h2>

<input type="text" ui-date ng-model="vm.date">
<p>
    date: {{vm.date}}
</p>

<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
<hr>
<div uib-collapse="isCollapsed">
    <div class="well well-lg">Some content</div>
</div>